.submaintext {
    margin-top: 40px;
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 40px;
}

.submaintext::after {
    display: block;
    height: 3px;
    background-color: #2980b9;
    content: " ";
    width: 600px;
    margin: 5px auto 15px auto;
}

.text{
    margin-top: 30px;
    text-align: center;
}

.link:hover {
    text-decoration: none;
}

@media(max-width:767px){
    .text{
        font-size: 15px;
        text-align: center;
        width: 100%;
    }
    .submaintext {
        margin-top: 10px;
        font-size: 25px;
        text-transform:uppercase;
    }
    .submaintext::after {
        width: 300px;
    }
}

