.HomeText {
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.image {
    width:100%;
    max-width:600px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.text {
    font-size: 22.5px;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.as {
    display: none;
}

@media(max-width:767px){
    .ds {
        display: none;
    }
    .text {
        font-size: 15px;
    }
    .HomeText {
        font-size: 25px;
    }
    .as {
        display: block;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 20px;
    }
}