.card {
    overflow:hidden;
    text-align: center;
    height: 180px;
}

.card:hover {
    cursor: pointer;
}
.card img {
    transition: all 0.5s ease;
    opacity: 0.3;
}

.title {
    font-family: 'Montserrat';
}

.cardText{
    font-family: "Montserrat";
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-size: 90%;
}

@media(max-width:767px)
{
.card {
    margin: 10px;
}
}

.card:hover img {
    opacity: 0.5;
    transform: scale(1.1);
}

.card:hover .cardText {
    opacity: 1;
}

.a {
    color: inherit;
}

.a:hover {
    color: inherit;
}

@media(max-width:480px)
{
.card {
    width: 300px;
    justify-content: center;
}

}